[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pytest = "~=3.9"
pytest-mypy = "~=0.3"
"pytest-flake8" = "~=1.0"
pytest-isort = "~=0.2"
twine = "~=1.12"
figcan = {editable = true, path = "."}
